<h1>Board Game Reviews</h1>

<form [formGroup]="form" (ngSubmit)="search()">
  <input type="text" formControlName="name" >
  <button type="submit" [disabled]="form.invalid">Search</button>
</form>

<hr>
<div *ngIf="form.valid">
  <div *ngIf="notFound">
    <p>Game Not Found</p>
  </div>
  <div *ngIf="results">
    <h3>Game Info</h3>
    <table>
      <tr>GID: <span>{{results[0].gid}}</span></tr>
      <tr>Name: <span>{{results[0].name}}</span></tr>
      <tr>Year: <span>{{results[0].year}}</span></tr>
      <tr>Ranking: <span>{{results[0].ranking}}</span></tr>
      <tr>Number of Users Rated: <span>{{results[0].usersRated}}</span></tr>
      <tr>Url: <span>{{results[0].url}}</span></tr>
      <tr><img src="{{results[0].image}}" width="200px"></tr>
    </table>
    <br>
    <h4>Top 5 Comments</h4>
    <table *ngFor="let r of results">
      <br>
      <tr>Comment ID: <span>{{r.cId}}</span></tr>
      <tr>User: <span>{{r.user}}</span></tr>
      <tr>Rating: <span>{{r.rating}}</span></tr>
      <tr>Comment: <span>{{r.cText}}</span></tr>
      <br>
    </table>
  </div>
</div>